.varlabel{
  font-size: 30px;
  text-align: center;
  background-color: #a9bbd8;
  height: 200px;
  width: 200px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
}

td{
  vertical-align: top;
}
.axis path,
.axis line {
  fill: #a9bbd8;
  stroke: grey;
  shape-rendering: crispEdges;
}


.axisMiddle line {
  fill: #a9bbd8;
  stroke: grey;
  shape-rendering: crispEdges;
}

.tick line {
  opacity: 0.2;
}

.axis2 path,
.axis2 line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.label2 {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}